<div class="navigation" id="navigation">
    <div class="navMobile"></div>
    <ul class="navList" id="theMenu">
        <li><a href="/user">My page</a></li>
        <li><a href="/createBucketlist/{{username}}">Create bucketlist</a></li>
        <li><a href="/createLifelist/{{username}}">Create lifelist</a></li>
        <li><a href="/memories/{{username}}">Memories</a></li>
        <li><a href="/inspiration/{{username}}">Inspiration</a></li>
        <li><a href="/chat/{{username}}">Chat</a></li>
        <li><a href="/logout">Sign out</a></li>
    </ul>
</div>

<script type="text/javascript" src="/clientscripts/dropdownMenu.js"></script>
