{{>navbarAuthenticated}}

<h2 class="center">Inspiration</h2>

<p class="saved"></p>

<select id="selectList">
    {{#if bucketlists}}
        {{#each bucketlists}}
            <option value="{{title}}" id="{{id}}" data-list="bucketlist">{{title}}</option>
        {{/each}}
    {{/if}}
    {{#if lifelist}}
        {{#each lifelist}}
            <option value="{{title}}" id="{{id}}" data-list="lifelist">{{title}}</option>
        {{/each}}
    {{/if}}
</select>
<br><br>

<div class="imageContainer">
    <img src="/images/beluga.jpeg" alt="Beluga whale" class="inspoImage">
    <div class="middle">
        <div class="textImg" value="See beluga whales">Add to list</div>
    </div>
</div>
<div class="imageContainer">
    <img src="/images/beluga.jpeg" alt="Beluga whale" class="inspoImage">
    <div class="middle">
        <div class="textImg" value="See beluga whales">Add to list</div>
    </div>
</div>
<div class="imageContainer">
    <img src="/images/beluga.jpeg" alt="Beluga whale" class="inspoImage">
    <div class="middle">
        <div class="textImg" value="See beluga whales">Add to list</div>
    </div>
</div>
<div class="imageContainer">
    <img src="/images/beluga.jpeg" alt="Beluga whale" class="inspoImage">
    <div class="middle">
        <div class="textImg" value="See beluga whales">Add to list</div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    // Connect to socket.io.
    let socket = io();

    let addButton = document.getElementsByClassName('textImg');
    let selectList = document.getElementById('selectList');
    let selectedList;
    let typeOfList;
    let saved = document.getElementsByClassName('saved')[0];

    selectList.addEventListener('change', function(event) {
        selectedList = event.target.options[event.target.selectedIndex].id;
        typeOfList = event.target.options[event.target.selectedIndex].getAttribute('data-list');
    });

    for (let i = 0; i < addButton.length; i += 1) {
        addButton[i].addEventListener('click', function(event) {
            addToList(event.target);
        });
    }

    function addToList(target) {
        let goal = target.getAttribute('value');
        socket.emit('addGoal', {list: typeOfList, id: selectedList, goal: goal});
    }

    socket.on('success', function() {
        saved.textContent = '';
        saved.textContent = 'The goal was saved successfully.';
    });

    socket.on('unsuccessful', function() {
        saved.textContent = '';
        saved.textContent = 'Could not save the goal to the selected list.';
    });
</script>
