{{>navbarAuthenticated}}

<h2 class="center1">Inspiration</h2>

<p class="saved"></p>

<select id="selectList">
    <option value="Choose list..." aria-label="Choose a list from the dropdown menu.">Choose list...</option>
    {{#if bucketlists}}
        {{#each bucketlists}}
            {{#if locked}}
                <option value="{{title}}" id="{{id}}" data-list="bucketlist" aria-label="Bucketlist with the name {{title}}" disabled>{{title}}</option>
            {{else}}
                <option value="{{title}}" id="{{id}}" data-list="bucketlist" aria-label="Bucketlist with the name {{title}}">{{title}}</option>
            {{/if}}
        {{/each}}
    {{/if}}
    {{#if lifelist}}
        {{#each lifelist}}
            {{#if locked}}
                <option value="{{title}}" id="{{id}}" data-list="lifelist" aria-label="Lifelist with the name {{title}}" disabled>{{title}}</option>
            {{else}}
                <option value="{{title}}" id="{{id}}" data-list="lifelist" aria-label="Lifelist with the name {{title}}">{{title}}</option>
            {{/if}}
        {{/each}}
    {{/if}}
</select>
<br><br>

<div class="imageContainer">
    <img src="/images/roadtrip.jpg" alt="A vintage model of a green Volkswagen van surrounded by palm leaves. Text on picture says road trip through Europe. You can add this goal to your chosen list by clicking the image." class="inspoImage">
    <div class="middle">
        <div class="textImg" value="Road trip through Europe">Add to list</div>
    </div>
</div>
<div class="imageContainer">
    <img src="/images/beluga.jpg" alt="A beluga whale looking right into the camera. Text on picture says see beluga whales. You can add this goal to your chosen list by clicking the image." class="inspoImage">
    <div class="middle">
        <div class="textImg" value="See beluga whales">Add to list</div>
    </div>
</div>
<div class="imageContainer">
    <img src="/images/kilimanjaro.jpg" alt="Signs at the Kilimanjaro summit. Text on the picture says climb kilimanjaro. You can add this goal to your chosen list by clicking the image." class="inspoImage">
    <div class="middle">
        <div class="textImg" value="Climb Kilimanjaro">Add to list</div>
    </div>
</div>
<div class="imageContainer">
    <img src="/images/icecream.jpg" alt="A cone of chocolate ice cream held in a white cone. Text on picture says eat ice cream every day for 365 days. You can add this goal to your chosen list by clicking the image." class="inspoImage">
    <div class="middle">
        <div class="textImg" value="Eat ice cream every day for 365 days">Add to list</div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    // Connect to socket.io.
    let socket = io();

    let addButton = document.getElementsByClassName('textImg');
    let selectList = document.getElementById('selectList');
    let selectedList;
    let typeOfList;
    let saved = document.getElementsByClassName('saved')[0];

    selectList.addEventListener('change', function(event) {
        selectedList = event.target.options[event.target.selectedIndex].id;
        typeOfList = event.target.options[event.target.selectedIndex].getAttribute('data-list');
    });

    for (let i = 0; i < addButton.length; i += 1) {
        addButton[i].addEventListener('click', function(event) {
            addToList(event.target);
        });
    }

    function addToList(target) {
        let goal = target.getAttribute('value');
        socket.emit('addGoal', {list: typeOfList, id: selectedList, goal: goal});
    }

    socket.on('success', function() {
        saved.textContent = '';
        document.getElementsByClassName('saved')[0].classList.add = 'greenFlash';
        saved.textContent = 'The goal was saved successfully.';
    });

    socket.on('unsuccessful', function() {
        saved.textContent = '';
        document.getElementsByClassName('saved')[0].classList.add = 'redFlash';
        saved.textContent = 'Could not save the goal to the selected list.';
    });
</script>
