{{>navbarAuthenticated}}
<h2>Upload image and text</h2>
<form action="/uploads/{{id}}/{{username}}/{{list}}" method="post" id="myForm">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{>validationSummary}}
    <br>
    <h4>Image preview</h4>
    <div class="previewImg"><img id="image"/></div><br>
    <input type="hidden" name="imgSrc" id="imgSrc">
    <input type="hidden" name="typeOfFile" id="typeOfFile">
    <p class="info2"><b>NOTE!</b> Images may not be bigger than 2MB.</p>
    <input type="file" name="pic" aria-label="Choose an image from your device." accept="image/*" id="files"><br><br>
    <textarea rows="4" cols="30" name="value" aria-label="Text field for writing about your experience." placeholder="Write about your experience..." value="{{value}}" required="required"></textarea><br><br>
    <button class="form-button" type="submit" aria-label="Button for saving the image and text.">Save</button>
</form>

<script type="text/javascript" src="/clientscripts/uploadImg.js"></script>
<script type="text/javascript" src="/clientscripts/validationIOS.js"></script>
