<h2 class="center">{{username}}s Life<sup>2</sup> progress</h2>
<div id="myProgress">
    <div id="myBar"></div>
</div>
<br>
<a href="/createBucketlist/?username={{username}}" class="form-button">Create bucketlist</a>
<div class="right"><a href="/createLifelist/?username={{username}}" class="form-button">Create lifelist</a></div>
<br><br>
{{#if bucketlists }}
    <div class="bucketlists">
    {{#each bucketlists}}
        <div class="bucketlist">
            <b>{{title}}</b><br>
            {{createdAt}}<br>
            <div class="addGoal"><a href="/addGoal" class="form-button">+ Add goal</a></div>
        </div>
    {{/each}}
    </div>
{{/if}}
{{#if lifelist }}
    {{#each lifelist}}
        <div class="lifelist">
            <b>{{title}}</b><br>
            {{createdAt}}<br>
            <div class="addGoal"><a href="/addGoal" class="form-button">+ Add goal</a></div>
        </div>
    {{/each}}
{{/if}}
