{{>navbarAuthenticated}}

{{>validationSummary}}

<h2 class="center">{{username}}s Life<sup>2</sup> progress</h2>
<div id="myProgress">
    <div id="myBar"></div>
</div>
<br>

{{#if bucketlists }}
    <div class="bucketlists">
    {{#each bucketlists as |value key|}}
        <div class="bucketlist">
            <h4>{{title}}</h4><br>
            <b>Created at: </b>{{createdAt}}<br>
            <b>Goals:</b><br>
            {{#if goals}}
                {{#each goals}}
                    {{#if checked}}
                        <div><input type="checkbox" data-list="bucketlist" id="{{value.id}}" name="aGoal" value="{{title}}" class="checkbox" checked="{{checked}}">{{title}}
                        <a href="/uploads/{{value.id}}?list=Bucketlist" class="form-button">+ Upload image and text</a></div>
                    {{else}}
                        <input type="checkbox" data-list="bucketlist" id="{{value.id}}" name="aGoal" value="{{title}}" class="checkbox">{{title}}<br>
                    {{/if}}
                {{/each}}
            {{else}}
                <i>No goals added yet.</i><br>
            {{/if}}
            {{#if images}}
                {{#each images}}
                    {{#if data}}
                        <img src={{data}}/>
                    {{/if}}
                {{/each}}
            {{else}}
                <i>There are no images.</i><br>
            {{/if}}
            <div class="addGoal"><a href="/addGoal/{{id}}?list=Bucketlist" class="form-button">+ Add goal</a></div>
            {{#if deadline}}
                <br><b>Deadline: </b>{{deadline}}<br>
            {{else}}
                <div class="addGoal"><a href="/setDeadline/{{id}}?list=Bucketlist" class="form-button">+ Set deadline</a></div>
            {{/if}}
        </div>
    {{/each}}
    </div>
{{/if}}
{{#if lifelist }}
    {{#each lifelist as |value key|}}
        <div class="lifelist">
            <h4>{{title}}</h4><br>
            <b>Created at: </b>{{createdAt}}<br>
            <b>Goals:</b><br>
            {{#if goals}}
                {{#each goals}}
                    {{#if checked}}
                        <div><input type="checkbox" data-list="lifelist" id="{{value.id}}" name="aGoal" value="{{title}}" class="checkbox" checked="{{checked}}">{{title}}
                        <a href="/uploads/{{value.id}}?list=Lifelist" class="form-button">+ Upload image and text</a></div>
                    {{else}}
                        <input type="checkbox" data-list="lifelist" id="{{value.id}}" name="aGoal" value="{{title}}" class="checkbox">{{title}}<br>
                    {{/if}}
                {{/each}}
            {{else}}
                <i>No goals added yet.</i><br>
            {{/if}}
            <div class="addGoal"><a href="/addGoal/{{id}}?list=Lifelist" class="form-button">+ Add goal</a></div>
            {{#if deadline}}
                <br><b>Deadline: </b>{{deadline}}<br>
            {{else}}
                <div class="addGoal"><a href="/setDeadline/{{id}}?list=Lifelist" class="form-button">+ Set deadline</a></div>
            {{/if}}
        </div>
    {{/each}}
{{/if}}
